@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.placeholder-darker::placeholder {
  color: rgba(0, 0, 0, 0.4); /* 60% opacity black */
  font-weight: bold; /* Make it bold */
  font-size: 1.4em; /* Increase font size */
}

.description-darker {
  color: rgba(22, 21, 21, 0.3); /* 80% opacity black */
  font-weight: 500;
}

.gradient-text {
  background: linear-gradient(to right, rgba(0, 0, 255, 0.72), rgb(0, 128, 255));
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-title {
  background: linear-gradient(to right, rgba(0, 0, 255, 0.72), rgb(0, 128, 255));
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.25em;
}

.logo-size {
  width: 60px;
  height: 60px;
}

.connect-button-gradient {
  width: 150px;
  height: 50px;
  background: blue;
  color: white;
  border: none;
  border-radius: 8px; /* Rounded corners */
  font-size: 16px;
  cursor: pointer;
}

.connected-button-gradient {
  display: flex;
  align-items: center;
  background: rgb(98, 71, 221);
  padding: 0.15rem 1rem; /* Mobile */
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  border-radius: 8px;
  opacity: 0.9;
}

/* Media query for desktop */
@media screen and (min-width: 1024px) {
  .connected-button-gradient {
    padding: 0.5rem 2rem; /* Desktop */
  }
}

::placeholder {
  font-size: 1.2em;
  font-weight: bold;
  opacity: 0.7;
}

.underline-text {
  text-decoration: underline !important;
}

.text-xxs {
  font-size: 0.55rem;
}

.text-xxxs {
  font-size: 0.4rem;
}

.gradient-button {
  background: whitesmoke;
  border: none;
}

.content-box-padding {
  box-sizing: content-box;
}

.responsive-text {
  font-size: 3rem; /* Default size */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .responsive-text {
    font-size: 3rem; /* Smaller size for mobile screens */
  }
}

.z-10 {
  z-index: 10;
}

/* Z-index for components that should be above SVG logos */
.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

/* Z-index for header */
.header-z {
  z-index: 30;
}

/* Z-index for main content */
.main-content-z {
  z-index: 25;
}

.content-box {
  max-width: 100%; /* Set maximum width */
  overflow-x: auto; /* Handle horizontal overflow */
}

.mobile-styles {
  height: 1.5rem;
  min-height: 1.5rem;
}

@media (max-width: 640px) {
  .text-xxs {
    font-size: 0.6rem;
  }
  .text-2xl {
    font-size: 1.2rem;
  }
  .text-4xl {
    font-size: 2rem;
  }
  .text-lg {
    font-size: 1rem;
  }
  .sm\:mr-4 {
    margin-right: 0 !important;
  }
}

/* Dropdown styles for mobile */
@media (max-width: 640px) {
  .dropdown-content {
    min-width: 200px;
    bottom: 100%;
  }
}

/* Dropdown styles for desktop */
@media (min-width: 641px) {
  .dropdown-content {
    min-width: 200px;
    top: 100%;
  }
}

.pt-dynamic {
  padding-top: 25%; /* Mobile */
}

@media (min-width: 768px) {
  .pt-dynamic {
    padding-top: 20%; /* Desktop */
  }
}

.sub-cta {
  font-size: 1.1rem;
}

.bg-full-gradient {
  background: linear-gradient(rgba(34, 0, 253, 0.314), rgba(221, 160, 221, 0.503));
}
